<%- include("header", {title: title}); %>

<h1>Transfer complete</h1>

<p>Transfered 1.5 from Eva to Adam.</p>
<p>Adam says thanks!</p>

<p>
    <a href="index">Back to Index</a>
</p>

<%- include("footer"); %>