<%- include("../partials/header.ejs", {title: title}); %>
<article class="accordion">
    <div class="accordion-text">
        <h1 class="title">Om</h1>
        <p>
            <img src="img/leaf_256x256.png" alt="Bild på ett löv" />
        </p>
        <p>
            Denna webbplatsen är en del av kursen
            <a href="https://dbwebb.se/kurser/databas-v2/">Databas</a>
        </p>
        <p>
            Kursens github repo hittar du
            <a href="https://github.com/dbwebb-se/databas">här</a>
        </p>
        <p>
            Kursen Databasteknologier för webben, a.k.a. databas, och syftet är att jag skall förstå och lära mig modellera och implementera en databas samt utveckla en webbapplikation som använder databasen. Som applikationsspråk används serverbaserad JavaScript i webbmiljö.
        </p>
        <br/>
        <p>Under fliken redovisning kan du följa mina reflektioner över varje kursmoment.</p>
    </div>
</article>

<%- include("../partials/footer.ejs"); %>