<%- include("../partials/header.ejs", {title: title}); %>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="content">
    <h1>Svensk Rock</h1>
    <p>Search concert schedule</p>
    <form action="/exam/search" method="GET">
        <input type="text" placeholder="Search.." />
        <button type="submit">Submit</button>
    </form>
</div>

<%- include("../partials/footer.ejs"); %>
