<%- include("../partials/header.ejs", {title: title}); %>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <h1>BuckStar Online Shopping</h1>

    <p>Denna sidan har gjorts utav:</p>
        <p>Erik Nästesjö - erna21</p>
        <p>Frida Persson - frpe21</p>
</div>
<%- include("../partials/footer.ejs"); %>