<%- include("../partials/header.ejs", {title: title}); %>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <h1>BuckStar Online Shopping</h1>

    <p>Denna sidan har gjorts utav:</p>
    <ul>
        <li>Erik Nästesjö - erna21</li>
        <li>Frida Persson - frpe21</li>
    </ul>
</div>
<%- include("../partials/footer.ejs"); %>